<div class="card mb-3">
  <a class="row g-0" href="#">
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Test recipe</h5>
        <p class="card-text">This is a simple test</p>
      </div>
    </div>
    <div class="col-md-4 d-flex align-items-center justify-content-center p-2">
      <img
        src="https://i0.hippopx.com/photos/653/692/24/recipe-chicken-bacon-meat-preview.jpg"
        class="img-fluid rounded-start"
        alt="recipe"
      />
    </div>
  </a>
</div>
